body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1,p, h2,h3{
    color: #da9f09;
    justify-content: center;
  }
  
  .container {
    max-width: 100px;
    margin: 50px auto;
    padding: 20px;
    background-color:#ecab39;
    border-radius: 8px brown;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
   
  }
  .middle h1{
    display: flex;
  }
  .input-group {
    display: flex;
  justify-content: center;
  }
  
  .input-group input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    max-width: 300px;
    justify-content: center;

  }
  
  .input-group button {
    padding: 10px 20px;
    border: none;
    background-color: #fdd700;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-group button:hover {
    background-color: #fcaf1f;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {

    margin-bottom: 10px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
  }
  
  .task-item .delete-btn {
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .task-item .delete-btn:hover {
    background-color: #d32f2f;
  }
  