body {
    margin: 0, auto;
    background-color: #f2f2f2;
    background: url("../images/photo_2023-12-20_10-24-24.jpg") no-repeat center
      center/cover;
  }
  
  #second_div {
    max-width: 500px;
    margin: 30px auto;
    background-color: #333;
    padding: 30px;
    border-radius: 5px;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  #form {
    padding: 15px;
  }
  #password {
    width: 100%;
    padding: 10px;
  }
  h2 {
    font-weight: bold;
    text-align: center;
  }
  #username {
    width: 100%;
    padding: 10px;
  }
  #submit {
    width: 100%;
    padding: 10px;
    background-color: #a89b1f;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
  }
  #reset {
    width: 100%;
    padding: 8px;
    background-color: #a89b1f;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #email_image {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: #a89b1f;
    padding: 10px;
  }
  #email {
    width: 100%;
    padding: 10px;
  }
  
  #text {
    text-align: center;
  }