
#stickies-container {
  padding: 1rem;
}
.drag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sticky {
  background: linear-gradient(to left bottom, #d4fc78, #f9f470);
  box-shadow: 0 0 20px rgba(245, 199, 98, 0.3);
  color:rgb(254, 182, 74);
  cursor: grab;
  display: inline-block;
  position: absolute;
  width: 12.5rem;
}
.sticky h3,
.sticky p {
  color: black;
  pointer-events: none;
}
.sticky h3 {
  border-bottom: dashed 2px rgb(247, 247, 119);
  margin: 0 0 1rem;
  min-height: 1.3rem;
  padding: 0 1.5rem 0.25rem 0;
}
.sticky p {
  margin: 0;
  min-height: 9rem;
}
.sticky .deletesticky {
  color: brown;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 0.8rem;
  top: 0.4rem;
}

.sticky-form {
  bottom: 1rem;
  position: absolute;
  right: 1rem;
}
.sticky-form label,
.sticky-form input,
.sticky-form textarea {
  color: black;
  display: block;
}
.sticky-form input,
.sticky-form textarea {
  background-color:  #f8f0e2;
  background-clip: padding-box;
  border: 2px dashed 2px hsl(32, 100%, 45%);
  border-radius: 0.25rem;
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: calc(100% - 1.5rem);
}
.sticky-form input:focus,
.sticky-form textarea:focus {
  border: 2px dashed #ffffff;
  outline: none;
}
button.button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: dashed 2px hsl(32, 100%, 45%);
  border-radius: 0.25rem;
  border: 1px solid transparent;
  color: black;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}